<div class="logo py-3">
  <a href="{{shop.url}}" title="{{ shop.name | escape }}">
    {%- assign _logo = "fastor4logo.png" | asset_img_url: 'master'  -%}
    {%- if settings.main_logo != blank -%}
    {%- assign _logo = settings.main_logo | img_url: 'master' -%}
    {%- endif -%}
    <img class="lazyload" src='data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==' data-src="{{ _logo }}" style="max-width:{{settings.logo_max_width}}px;" title="{{ shop.name | escape }}" alt="{{ shop.name | escape }}" />
 </a>
</div>