<div class="product-center product clearfix">
  <div >
    {% if settings.product_info_brand %}
    <div class="vendor">{{product.vendor | link_to_vendor}}</div>
    {% endif %}
    <h2 class="name {% if settings.reviews_enable == "" %}no-review{% endif %}">{{product.title}}</h2>
        {% render 'shappify-sales-clock', product: product %}
    <div class="review">
      {%- if settings.reviews_enable != "" -%}
      {%-include "review-stars"-%}
      {%- endif -%}
    </div>
    {%- comment -%}  INFO AND STOCK  {%- endcomment -%}
    {% if settings.product_info_sku or settings.product_info_status %}
    <div class="description {%- if settings.product_info_status == false and settings.product_info_brand == false and settings.product_info_sku == false -%}{{- " hide" -}}{%- endif -%}">
      <p id="product_sku" class="d-flex justify-content-start align-items-center flex-wrap variant-sku sku_wrapper{%- if current_variant.sku == blank or settings.product_info_sku == false-%}{{- " hide" -}}{%- endif -%}">
		<span>{{'products.product.sku' | t}}</span> 
        <span class="sku">{{ current_variant.sku }}</span>
      </p>
      <p class="d-flex justify-content-start align-items-center flex-wrap  variation-availability{%- if settings.product_info_status == false -%}{{- " hide" -}}{%- endif -%}">
        <span>{{- 'products.product.stock' | t}}</span>
        {%- if current_variant -%}
        {%- if current_variant.available -%}
        {%- if current_variant.inventory_management == "shopify" and current_variant.inventory_policy != "continue" -%}
        {%- if current_variant.inventory_quantity > 0 -%}
        <span class="stock stock-{{ section.id }} in-stock">{%- if settings.product_inventory == '1' -%}{{- current_variant.inventory_quantity  -}}{{- " " -}}{%- endif -%}{{ 'products.product.in_stock' | t | escape }}</span>
        {%- else -%}
        <span class="stock stock-{{ section.id }} out-of-stock">{{ 'products.product.out_of_stock' | t | escape }}</span>
        {%- endif -%}
        {%- else -%}
        <span class="stock stock-{{ section.id }} in-stock">{{ 'products.product.in_stock' | t | escape }}</span>
        {%- endif -%}
        {%- else -%}
        <span class="stock stock-{{ section.id }} out-of-stock">{{ 'products.product.out_of_stock' | t | escape }}</span>
        {%- endif -%}
        {%- else -%}
        <span class="stock stock-{{ section.id }} out-of-stock">{{ 'products.product.unavailable' | t | escape }}</span>
        {%- endif -%}
      </p>
    </div>
    {% endif %}
    {%- comment -%} PRICE {%- endcomment -%}
    <div class="countdown-wrapper clearfix">
      {%- include 'limited-offer' -%}
    </div>
    <div class="product-focus">
      {% include 'product-detail-price', variant: current_variant, product: product %}
      {% include "product-stock-countdown" %}
      {%- comment -%} SHORT DESCRIPTION {%- endcomment -%}
      {%- if instructions.short_description != blank -%}
      <div class="short-description">{{- instructions.short_description  -}}</div>
      {%- endif -%}
      {%- comment -%} QUANTITY AND ADD TO CART {%- endcomment -%}
      <div id="product">
        {%- if product.available -%}
        {%- form 'product', product, id: "product-form", class: "product-form variations_form cart", data-product-id: product.id -%}
        <div class="options{% if product.variants.size <= 1 %} none{% endif %}{%- if instructions.external_link != blank and instructions.external_btn != blank -%}{{- " hide" -}}{%- endif -%}">
            {%- include "product-options" -%}
        </div>
        {{ form | payment_terms }}
        {%- comment -%}
        {% include "product-info-links" %}
        {%- endcomment -%}
        
        <div class="cart">
          <div class="add_to_cart clearfix ">
            <div class="variations_button {%- unless current_variant -%}{{" hide"}}{%- endunless -%}{%- if instructions.external_link != blank and instructions.external_btn != blank -%}{{- " hide" -}}{%- endif -%}">
              <div id="uploadery-container"></div>
              <label class="swatch-label swatch-label-button">Quantity</label>
              <div class="add-cart-wrapper d-flex justify-content-start align-items-center flex-wrap">
                <div class="quantity-wrapper">
                  <div class="quantity quantity d-flex align-items-center justify-content-start">
                    <input type="text" name="quantity" class="quantity-cart-{{product.id}}" id="quantity_wanted" size="2" value="1" />
                    <a href="javascript:void(0);" class="q_up" data-product_id="{{product.id}}" id="q_up"><i class="fa fa-plus"></i></a>
                    <a href="javascript:void(0);" class="q_down" data-product_id="{{product.id}}" id="q_down"><i class="fa fa-minus"></i></a>
                  </div>
                </div>
                <br>
                {% if show_upsells %}
                <div id="product-upsell-0" class="product-add-on row mx-0 d-none">
                  <div class="d-block py-2 mr-auto col-auto px-0">
                    <input type="checkbox" id="product-upsell-check-0" name="product-add-on-checkbox" value="product-add-on-checkbox">
                    <label for="product-add-on">ADD <span id="product-upsell-0-name" class="red">V1 DECAL</span> ONLY <strong id="product-upsell-0-price">$4.99</strong></label>
                  </div>
                </div>
                <div id="product-upsell-1" class="product-add-on row mx-0 d-none">
                  <div class="d-block py-2 mr-auto col-auto px-0">
                    <input type="checkbox" id="product-upsell-check-1" name="product-add-on-checkbox" value="product-add-on-checkbox">
                    <label for="product-add-on">ADD <span id="product-upsell-1-name" class="red">USA FLAG</span> ONLY <strong id="product-upsell-1-price">$9.99</strong></label>
                  </div>
                </div>
                {% endif %}
                <input type="submit" value="{%- unless current_variant.available -%}{{- 'products.product.sold_out' | t | escape -}}{%- else -%}{{- 'products.product.add_to_cart' | t | escape-}}{%- endunless -%}"
                       id="AddToCart-product-template"
                       class="button button-cart not-empty add-to-cart{%- unless current_variant -%}{{- " hide" -}}{%- endunless -%}" 
                       {%- unless current_variant.available -%}{{- " " -}}disabled="disabled"{{- " " -}}{%- endunless -%} 
                       data-loading-text="{{'products.product.loading' | t | escape}}"
                       data-addtocart="{{'products.product.add_to_cart' | t | escape}}" 
                       data-unavailable="{{'products.product.unavailable' | t | escape}}"
                       data-soldout="{{'products.product.sold_out' | t | escape}}" />
              </div>
			  {% include "product-info-aftercart" %}
              {%- if settings.product_question -%}
              <a href="javascript:void(0);" class="button-product-question"><i class="fa fa-envelope"></i>{{'products.product.ask_about_this_product' | t}}</a>
              {%- endif -%}
              {%- if settings.dynamic_checkout -%}
              {%- if settings.cart_terms_enable -%}
              {%- assign terms_conditions_url = '#' -%}

              {%- if settings.cart_terms_page != blank -%}
              {%- assign terms_conditions_url = '/pages/' | append: settings.cart_terms_page -%}
              {%- endif -%}
              <div class="product-cart__condition pt-3">
                <label class="custom-checkbox" for="product-cart__agree-{{ section.id }}">
                  <input type="checkbox" id="product-cart__agree-{{ section.id }}" data-message="{{ 'cart.general.terms_conditions_message' | t | escape }}" />                  
                  <span class="checkmark"></span>
                  {{ 'cart.general.terms_conditions_html' | t : terms_conditions_url: "/policies/terms-of-service" ,  privacy_policy_url: "/policies/privacy-policy" }}
                </label>
              </div>
              {%- endif -%}
              {%- comment -%}
              <div class="dynamic-payment-button" id="product-buy__1click-{{ section.id }}">
                {{- form | payment_button -}}
              </div>
              {%- endcomment -%}
              {%- endif -%}
              
              <img src="https://cdn.shopify.com/s/files/1/1489/5902/files/under_atc_1.png?v=1636477941" style="width:100%;margin:15px 0 !important">
            </div>
            {%- if instructions.external_link != blank and instructions.external_btn != blank -%}
            {%- include 'product-external-btn' -%}
            {%- endif -%}
          </div>
        </div>
        {%- endform -%}
          {%- render 'shappify-bdl-load-bundle' -%}

        {%- else -%}
        <div class="cart">
          <div class="add_to_cart clearfix">
            {%- if instructions.external_link != blank and instructions.external_btn != blank -%}
            <div class="hide">
              {%- endif -%}
              <div class="add-cart-wrapper">
                <input type="button" value="{{'products.product.sold_out' | t | escape}}" id="button-cart" data-loading-text="{{'products.product.loading' | t | escape}}" class="button button-cart button-cart-sold-out" disabled/>
              </div>
              {%- if instructions.external_link != blank and instructions.external_btn != blank -%}
            </div>
            {%- include 'product-external-btn' -%}
            {%- endif -%}
            <div class="clearfix"></div>
            {%- if settings.product_question -%}
            <a href="javascript:void(0);" class="button-product-question"><i class="fa fa-envelope" style="margin-right: 5px;"></i>{{'products.product.ask_about_this_product' | t}}</a>
            {%- endif -%}
          </div>
        </div>
        {%- endif -%}
        {%- comment -%} PRODUCT DETAILS ACCORDION {%- endcomment -%} 
        <div class="p-info-graphic">
          <span>Free shipping on all orders $99+</span>
        </div>
        <div data-rt-tabs class="sidebar-details product-details-tabs rt-tabs col-p-100 mt-4 justify-content-center" style="--border-color:#3a3a3a">
          <div class="rt-tab">
            <input class="rt-tab__radio" type="radio" name="rt-tabgroup-detail" id="rt-tab-description" checked>
            <div class="rt-tab__content w-100">
              <div class="py-3">
                <h2>Out of Stock?</h2>
                <p style="margin-bottom:10px">CLICK THE 'EMAIL WHEN AVAILABLE' BUTTON ABOVE AND FILL IN YOUR DETAILS. WE'LL LET YOU KNOW WHEN THIS ITEM BECOMES AVAILABLE.</p>
              </div>
            </div>
          </div>
        </div>
        <div data-rt-tabs class="sidebar-details product-details-tabs rt-tabs col-p-100 mt-4 justify-content-center" style="--border-color:#3a3a3a">
          <div class="rt-tab">
            <input class="rt-tab__radio" type="radio" name="rt-tabgroup-detail" id="rt-tab-description" checked>
            <div class="rt-tab__content w-100">
              <div class="py-3">
                {{product.description}}
              </div>
            </div>
          </div>
        </div>
        <div data-rt-tabs class="sidebar-details product-details-tabs rt-tabs col-p-100 mt-4 justify-content-center" style="--border-color:#3a3a3a;margin-bottom: 35px">
          <div class="rt-tab">
            <input class="rt-tab__radio" type="radio" name="rt-tabgroup-detail" id="rt-tab-description" checked>
            <div class="rt-tab__content w-100">
              <div class="py-3">
                <h2>SHIPPING & RETURNS</h2>
                <div style="margin-bottom:10px">
                  <p><strong>SHIPPING</strong><br>It’s taking us longer than usual to get orders to you. But don’t worry—our team is working as quickly and safely as possible to get all orders processed ASAP. You will receive an email / text message with updates on your shipment's progress.</p>
                  <p> 13FA is proud to print all apparel in the USA! This means that your order is typically printed to order, and will go into our production queue after we receive your order. Please allow 3-7 business days for production. Sometimes, if the item is in stock, it will ship much faster! Once your order is ready for shipment, you will receive an email / text notification with your tracking information.</p>
                  <p><strong>RETURNS</strong><br>Once we receive your items, we’ll process your return and issue a refund to your original form of payment, usually within seven (7) business days. We’ll send you an email to let you know we’ve issued the refund—it may take up to 10 additional days for the funds to show in your account.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        {%- comment -%} WISHLIT COMPARE QUESTIONS SIZECHART
        {% include "product-actions" %}
        {%- endcomment -%} 
        <p>
          <img style="width: 72px;min-width: 72px;" src="https://cdn.shopify.com/s/files/1/1489/5902/files/shop-pay-logo.jpg?v=1630505514"> 
          <span style="margin-left: 10px;">installments in partnership with</span>
          <img style="width: 42px;min-width: 42px;vertical-align: baseline;" src="https://cdn.shopify.com/s/files/1/1489/5902/files/black_logo-white_bg.jpg?v=1630505514">
        </p>
        {% assign enabled_payment_types = 'visa,master,american_express,discover,jcb,diners_club,elo,apple_pay,google_pay,facebook_pay' | remove: ' ' | split: ',' %}
        <ul class="footer-payments">
          {% for type in enabled_payment_types %}
          <li>{{ type | payment_type_svg_tag: class: 'icon' }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {%- if instructions.trust_sale_img != blank -%}
    <div class="trust-sale-img">
      <img src="{{- instructions.trust_sale_img | file_img_url : "master" -}}">
    </div>
    {%- endif -%}

    {%- if settings.product_social_share and settings.product_design != "compact2" -%}
    <div class="share">
      {%- include "add-this" -%}
    </div>
    {%- endif -%}
    {%- include 'product-question' -%}
  </div>
</div>
{% comment %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
  $(document).ready(function () {
    var productUpsellHandle = ["{{ upsell1.handle }}", "{{ upsell2.handle }}"];
    var productUpsellId = [0, 0];
    var productAddOnQty = 1;
    productUpsellHandle.forEach(function (value, i) {
      jQuery.getJSON('/products/' + value + '.js', function (product) {
        if (product.variants[0].available) {
          productUpsellId[i] = product.variants[0].id;
          $("#product-upsell-"+ i).removeClass("d-none");
          $("#product-upsell-"+ i +"-name").html(product.title);
          $("#product-upsell-"+ i +"-price").html("+ $" + (product.price_min / 100).toFixed(2));
        }
      });
    });
    $('#AddToCart-upsells-product-rtba').click(function (e) {
      e.preventDefault();
      var productUpsellChecked0 = $("#product-upsell-check-0").is(":checked");
      var productUpsellChecked1 = $("#product-upsell-check-1").is(":checked");
      if ((productUpsellChecked0 && !productUpsellChecked1)
          && productUpsellId[0] !== 0) {
        productAddToCart(productUpsellId[0]);
      } else if ((!productUpsellChecked0 && productUpsellChecked1)
                 && productUpsellId[1] !== 0) {
        productAddToCart(productUpsellId[1]);
      } else if ((productUpsellChecked0 && productUpsellChecked1)
                 && (productUpsellId[0] !== 0 || productUpsellId[1] !== 0)) {
        productAddToCartUpsell();
      } else {
        $("form[action='/cart/add']").submit();
      }
    });
    function productAddToCart(upsell_id) {
      $.ajax({
        url: "/cart/add.js",
        type: "POST",
        data: {
          items: [
            {
              quantity: productAddOnQty,
              id: upsell_id
            }
          ]
        },
        dataType: "json"
      })
      .done(function () {

      })
      .always(function () {
        $("form[action='/cart/add']").submit();
      });
    }

    function productAddToCartUpsell() {
      $.ajax({
        url: "/cart/add.js",
        type: "POST",
        data: {
          items: [
            {
              quantity: productAddOnQty,
              id: productUpsellId[0]
            },
            {
              quantity: productAddOnQty,
              id: productUpsellId[1]
            }
          ]
        },
        dataType: "json"
      })
      .done(function () {

      })
      .always(function () {
        $("form[action='/cart/add']").submit();
      });
    }
  });
</script>
{% endcomment %}