<div class="selector-wrapper {{ option.name | handlezie }} variation-select-{{ section.id }}-{{ forloop.index0 }}">
  <label {% if option.name == 'default' %} class="hide"{% endif %} for="single-option-selector-{{ forloop.index0 }}">SELECT {{ option.name }}</label>
  <select id="single-option-selector-{{ section.id }}-{{ forloop.index0 }}" class="d-block single-option-selector single-option-selector-{{ section.id }}" data-index="option{{ forloop.index }}" data-option="option{{ forloop.index }}">
    {%- for value in option.values -%}
    <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
    {%- endfor -%}
  </select>
</div>