<!-- JM temp css -->
{{ 'jm-product-page-mobile.css' | asset_url | stylesheet_tag }}

<div class="product-center product clearfix">
  <div >
    {% if settings.product_info_brand %}
    <div class="vendor">{{product.vendor | link_to_vendor}}</div>
    {% endif %}
    <h2 class="product-name name {% if settings.reviews_enable == "" %}no-review{% endif %}">
      {% assign break_first = product.title | replace_first: "] ", "|" %}
      {% assign product_names = break_first | split: "|" %}
      {% if product_names.size > 1 %}
        {% for name in product_names %}
          <span>{{ name | split: " [" | first }}{% if forloop.index == 1 %}]{% endif %}</span>
        {% endfor %}
      {% else  %}
        {{ product.title | split: " [" | first }}
      {% endif %}
      {% assign break_color = break_first | split: " [" %}
      {% if break_color.size > 1 %}
        <span>[{{ break_color.last }}</span>
      {% endif %}
    </h2>
    
    {% comment %}<div class="order-receive-by">ORDER BY 3PM EST 12/14 TO RECEIVE BY 12/25</div>{% endcomment %}
    {% assign customize_it = false %}
    {% for t in product.tags %}
      {% if t contains 'BOGO' %}
       <span class="desktop jm-bogo-badge">BOGO</span>
      {% elsif t == "CUSTOMIZE IT" %}
        {% assign customize_it = true %}
      {% endif %}
    {% endfor %}
    {% render 'shappify-sales-clock', product: product %}
    <div class="review">
      {%-render "review-item-stars", product: product-%}
    </div>

    <div class="jm-info-reviews">
    {%-render "review-item-stars", product: product-%}
    </div>

    <div class="jm-info-price">
    {% include 'product-detail-price', variant: current_variant, product: product %}
    </div>
    <p class="product-info-shop-pay">
      <img style="width: 72px;min-width: 72px;" src="https://cdn.shopify.com/s/files/1/1489/5902/files/shop-pay-logo.jpg?v=1630505514"> 
      <span style="margin-left: 10px;">installments in partnership with</span>
        <img style="width: 42px;min-width: 42px;vertical-align: baseline;" src="https://cdn.shopify.com/s/files/1/1489/5902/files/black_logo-white_bg.jpg?v=1630505514">
    </p>
    {% comment %}
    <div id="jm-product-description">
      {{product.description}}
    </div>
    {% endcomment %}
    
    {%- comment -%}  INFO AND STOCK  {%- endcomment -%}
    {% if settings.product_info_sku or settings.product_info_status %}
    <div class="description {%- if settings.product_info_status == false and settings.product_info_brand == false and settings.product_info_sku == false -%}{{- " hide" -}}{%- endif -%}">
      <p id="product_sku" class="d-flex justify-content-start align-items-center flex-wrap variant-sku sku_wrapper{%- if current_variant.sku == blank or settings.product_info_sku == false-%}{{- " hide" -}}{%- endif -%}">
		<span>{{'products.product.sku' | t}}</span> 
        <span class="sku">{{ current_variant.sku }}</span>
      </p>
      <p class="d-flex justify-content-start align-items-center flex-wrap  variation-availability{%- if settings.product_info_status == false -%}{{- " hide" -}}{%- endif -%}">
        <span>{{- 'products.product.stock' | t}}</span>
        {%- if current_variant -%}
        {%- if current_variant.available -%}
        {%- if current_variant.inventory_management == "shopify" and current_variant.inventory_policy != "continue" -%}
        {%- if current_variant.inventory_quantity > 0 -%}
        <span class="stock stock-{{ section.id }} in-stock">{%- if settings.product_inventory == '1' -%}{{- current_variant.inventory_quantity  -}}{{- " " -}}{%- endif -%}{{ 'products.product.in_stock' | t | escape }}</span>
        {%- else -%}
        <span class="stock stock-{{ section.id }} out-of-stock">{{ 'products.product.out_of_stock' | t | escape }}</span>
        {%- endif -%}
        {%- else -%}
        <span class="stock stock-{{ section.id }} in-stock">{{ 'products.product.in_stock' | t | escape }}</span>
        {%- endif -%}
        {%- else -%}
        <span class="stock stock-{{ section.id }} out-of-stock">{{ 'products.product.out_of_stock' | t | escape }}</span>
        {%- endif -%}
        {%- else -%}
        <span class="stock stock-{{ section.id }} out-of-stock">{{ 'products.product.unavailable' | t | escape }}</span>
        {%- endif -%}
      </p>
    </div>
    {% endif %}
    {%- comment -%} PRICE {%- endcomment -%}
    <div class="countdown-wrapper clearfix">
      {%- include 'limited-offer' -%}
    </div>
    <div class="product-focus">
      {% include "product-stock-countdown" %}
      {%- comment -%} SHORT DESCRIPTION {%- endcomment -%}
      {%- if instructions.short_description != blank -%}
        <div class="short-description">{{- instructions.short_description  -}}</div>
      {%- endif -%}
      {%- comment -%} QUANTITY AND ADD TO CART {%- endcomment -%}
      <div id="product">
        {%- if product.available -%}
        {%- form 'product', product, id: "product-form", class: "product-form variations_form cart", data-product-id: product.id -%}
        <div class="options{% if product.variants.size <= 1 %} none{% endif %}{%- if instructions.external_link != blank and instructions.external_btn != blank -%}{{- " hide" -}}{%- endif -%}">
            {%- include "product-options" -%}
        </div>
        {% for option in product.options_with_values %}
        {%- assign downcased_option = option.name | downcase -%}
        {% if downcased_option contains 'size' and settings.product_swatch_size %}
          <div class="size-sold-out-copy">Size sold out? Select size to get notified</div>
        {% endif %}
        {% endfor %}
        {%- comment -%}
        {% include "product-info-links" %}
        {%- endcomment -%}

        <div class="cart">
          <div class="add_to_cart clearfix ">
            <div class="variations_button {%- unless current_variant -%}{{" hide"}}{%- endunless -%}{%- if instructions.external_link != blank and instructions.external_btn != blank -%}{{- " hide" -}}{%- endif -%}">
              <div id="uploadery-container"></div>
              <label class="swatch-label swatch-label-button">Quantity</label>
              <div class="add-cart-wrapper d-flex justify-content-start align-items-center flex-wrap">
                <div class="quantity-wrapper">
                  <div class="quantity quantity d-flex align-items-center justify-content-start">
                    <input type="text" name="quantity" class="quantity-cart-{{product.id}}" id="quantity_wanted" size="2" value="1" />
                    <a href="javascript:void(0);" class="q_up" data-product_id="{{product.id}}" id="q_up"><i class="fa fa-plus"></i></a>
                    <a href="javascript:void(0);" class="q_down" data-product_id="{{product.id}}" id="q_down"><i class="fa fa-minus"></i></a>
                  </div>
                </div>
                {{ form | payment_terms }}

                {% for t in product.tags %}
                  {% if t contains 'USCGLWI' %}
                    <div class="uscglwi-notice"><strong>This is a preorder item. Order cutoff date is August 4th.</strong></div>
                  {% endif %}
                {% endfor %}
                
                <div id="jm-price-container">
                  <input type="submit" value="{%- unless current_variant.available -%}{{- 'products.product.sold_out' | t | escape -}}{%- else -%}{{- 'products.product.add_to_cart' | t | escape-}}{%- endunless -%}"
                         id="AddToCart-{{ section.id }}"
                         class="button button-cart not-empty add-to-cart{%- unless current_variant -%}{{- " hide" -}}{%- endunless -%}" 
                         {%- unless current_variant.available -%}{{- " " -}}disabled="disabled"{{- " " -}}{%- endunless -%} 
                         data-loading-text="{{'products.product.loading' | t | escape}}"
                         data-addtocart="{{'products.product.add_to_cart' | t | escape}}" 
                         data-unavailable="{{'products.product.unavailable' | t | escape}}"
                         data-soldout="{{'products.product.sold_out' | t | escape}}" />
                  {% comment %}
                  {% include 'product-detail-price', variant: current_variant, product: product %}
                  {% endcomment %}
                </div>
              </div>
			  {% include "product-info-aftercart" %}
              {%- if settings.product_question -%}
              <a href="javascript:void(0);" class="button-product-question"><i class="fa fa-envelope"></i>{{'products.product.ask_about_this_product' | t}}</a>
              {%- endif -%}
              {%- if settings.dynamic_checkout -%}
              {%- if settings.cart_terms_enable -%}
              {%- assign terms_conditions_url = '#' -%}

              {%- if settings.cart_terms_page != blank -%}
              {%- assign terms_conditions_url = '/pages/' | append: settings.cart_terms_page -%}
              {%- endif -%}
              <div class="product-cart__condition pt-3">
                <label class="custom-checkbox" for="product-cart__agree-{{ section.id }}">
                  <input type="checkbox" id="product-cart__agree-{{ section.id }}" data-message="{{ 'cart.general.terms_conditions_message' | t | escape }}" />                  
                  <span class="checkmark"></span>
                  {{ 'cart.general.terms_conditions_html' | t : terms_conditions_url: "/policies/terms-of-service" ,  privacy_policy_url: "/policies/privacy-policy" }}
                </label>
              </div>
              {%- endif -%}
              {%- comment -%}
              <div class="dynamic-payment-button" id="product-buy__1click-{{ section.id }}">
                {{- form | payment_button -}}
              </div>
              {%- endcomment -%}
              {%- endif -%}
            </div>
            {%- if instructions.external_link != blank and instructions.external_btn != blank -%}
            {%- include 'product-external-btn' -%}
            {%- endif -%}
          </div>
        </div>
        {%- endform -%}
          {%- render 'shappify-bdl-load-bundle' -%}

        {%- else -%}
        <div class="cart">
          <div class="add_to_cart clearfix">
            {%- if instructions.external_link != blank and instructions.external_btn != blank -%}
            <div class="hide">
              {%- endif -%}
              <div class="add-cart-wrapper">
                <input type="button" value="{{'products.product.sold_out' | t | escape}}" id="button-cart" data-loading-text="{{'products.product.loading' | t | escape}}" class="button button-cart button-cart-sold-out" disabled/>
              </div>
              {%- if instructions.external_link != blank and instructions.external_btn != blank -%}
            </div>
            {%- include 'product-external-btn' -%}
            {%- endif -%}
            <div class="clearfix"></div>
            {%- if settings.product_question -%}
            <a href="javascript:void(0);" class="button-product-question"><i class="fa fa-envelope" style="margin-right: 5px;"></i>{{'products.product.ask_about_this_product' | t}}</a>
            {%- endif -%}
          </div>
        </div>
        {%- endif -%}
        
        {%- for t in product.tags -%}
          {%- if t contains 'FINAL SALE NOTICE' -%}
          <p class="final-sale-wrapper">
            <strong>FINAL SALE:</strong> All products marked 'Final Sale' are final and cannot be returned or exchanged.
          </p>
          {%- endif -%}
        {%- endfor -%}
        
        <div class="jm-below-add-to-cart">
          {%- if settings.wishlist_enable and settings.product_wishlist_show -%}<div class="wishlist">{% assign my_product = product %}{%- include 'wishlist' with true -%}</div>{%- endif -%}
          <!--<a href="#yotpo-reviews" class="jm-yotpo"><i class="fa fa-star-o"></i> {%-render "review-item-stars", product: product-%}</a> -->
        </div>

        <div data-rt-tabs class="sidebar-details product-details-tabs rt-tabs col-p-100 mt-4 justify-content-center" style="--border-color:#3a3a3a">
          <div class="rt-tab">
            <input class="rt-tab__radio" type="radio" name="rt-tabgroup-detail" id="rt-tab-description" checked>
            <div class="rt-tab__content w-100">
              <div>
                <h2>DESCRIPTION</h2>
                <!-- start: JM Static Product Details Accordion List -->
                {% include 'product-static-description', product: product, customize_it: customize_it %}
                <!-- end: JM Static Product Details Accordion List -->
              </div>
            </div>
          </div>
        </div>
        <div data-rt-tabs class="sidebar-details product-details-tabs rt-tabs col-p-100 mt-4 justify-content-center" style="--border-color:#3a3a3a;">
          <div class="rt-tab">
            <input class="rt-tab__radio" type="radio" name="rt-tabgroup-detail" id="rt-tab-description" checked>
            <div class="rt-tab__content w-100">
              <div>
                <h2>SIZING GUIDE</h2>
                {% include 'product-size-guide', product: product %}
              </div>
            </div>
          </div>
        </div>
        <div data-rt-tabs class="sidebar-details product-details-tabs rt-tabs col-p-100 mt-4 justify-content-center" style="--border-color:#3a3a3a;">
          <div class="rt-tab">
            <input class="rt-tab__radio" type="radio" name="rt-tabgroup-detail" id="rt-tab-description" checked>
            <div class="rt-tab__content w-100">
              <div>
                <h2>OUT OF STOCK</h2>
                <p style="margin-bottom:10px">Click the Email When Available and fill in your details. We'll let you know when it's available.</p>
              </div>
            </div>
          </div>
        </div>
        <div data-rt-tabs class="sidebar-details product-details-tabs rt-tabs col-p-100 mt-4 justify-content-center" style="--border-color:#3a3a3a;">
          <div class="rt-tab">
            <input class="rt-tab__radio" type="radio" name="rt-tabgroup-detail" id="rt-tab-description" checked>
            <div class="rt-tab__content w-100">
              <div>
                <h2>SHIPPING & RETURNS</h2>
                <div style="margin-bottom:10px">
                  <p><strong>SHIPPING</strong></p>
                  <p>13FA is proud to print all apparel in the USA. This means that your order is typically printed to order, and will go into our production queue after we receive your order. Please allow 3-7 business days for production. Once your order is ready for shipment, you will receive an email/text notification with your tracking information.</p>
                  <p><strong>RETURNS</strong></p>
                  <div id="return_desc">
                    <p>If you are not 100% satisfied with your purchase, we accept returns or exchanges within 30 days of purchase of unworn, unwashed, undamaged or defective merchandise for store credit. <a href="https://thirteenfiftyapparel.com/pages/returns">Click here</a> to initiate an exchange or return for store credit.</p>
                    <p>Items damaged or defective may be returned by contacting <a href="https://thirteenfiftyapparel.com/pages/13-fifty-apparel-contact-us">Customer Experience</a> within 7 DAYS of delivery.</p>
                    <p><i>ITEMS MARKED AS FINAL SALE ARE NOT ELIGIBLE FOR RETURNS.</i></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if customize_it %}
        <div data-rt-tabs class="sidebar-details product-details-tabs rt-tabs col-p-100 mt-4 justify-content-center" style="--border-color:#3a3a3a;">
          <div class="rt-tab">
            <input class="rt-tab__radio" type="radio" name="rt-tabgroup-detail" id="rt-tab-description" checked>
            <div class="rt-tab__content w-100">
              <div>
                <h2>CUSTOMIZE IT</h2>
                <p style="margin-bottom:10px">THIS SHIRT CAN BE CUSTOMIZED WITH YOUR INSIGNIA (MINIMUM 24 PIECES). PLEASE <a href="https://thirteenfiftyapparel.com/pages/customize-your-gear-13-fifty-apparel-2022">CLICK HERE</a> TO LEARN MORE ABOUT OUR CUSTOM GEAR OPTIONS.</p>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        <div style="margin-bottom: 20px;"></div>
        
        {%- comment -%} WISHLIT COMPARE QUESTIONS SIZECHART
        {% include "product-actions" %}
        {%- endcomment -%} 
    
        {% assign enabled_payment_types = 'visa,master,american_express,discover,jcb,diners_club,elo,apple_pay,google_pay,facebook_pay' | remove: ' ' | split: ',' %}
        <ul class="footer-payments">
          {% for type in enabled_payment_types %}
          <li>{{ type | payment_type_svg_tag: class: 'icon' }}</li>
          {% endfor %}
        </ul>

        <div class="p-info-graphic">
          <img src="https://cdn.shopify.com/s/files/1/1489/5902/files/shipping-returns-logo.png?v=1680192801" style="width:100%;">
          <!--<span>Free shipping on all orders $99+</span> -->
        </div> 

        <div class="jm-border-line"></div>
      
        {%  comment %}
        <div class="jm-questions-link">
          <a href="/pages/13-fifty-apparel-contact-us">
            <span class="jm-questions-header">QUESTIONS? BRING 'EM ON</span><br>
            <span class="jm-questions-subheader">Speak with a member from our Customer Experience Team</span>
            <i class="fa fa-arrow-right"></i>
          </a>
        </div>
        {%  endcomment %}
      </div>
    </div>
    {%- if instructions.trust_sale_img != blank -%}
    <div class="trust-sale-img">
      <img src="{{- instructions.trust_sale_img | file_img_url : "master" -}}">
    </div>
    {%- endif -%}

    {%- if settings.product_social_share and settings.product_design != "compact2" -%}
    <div class="share">
      {%- include "add-this" -%}
    </div>
    {%- endif -%}
    {%- include 'product-question' -%}
  </div>
</div>