{{ 'jm-heading.css' | asset_url | stylesheet_tag }}

<div id="cb-item-{{section.id}}">
  <div id="jm-heading" style="background-color: {{ section.settings.bg_color }}">
    <div class="cb-item--heading">
      <div class="jm-heading-container" style="width:{{ section.settings.caption_width }}%;text-align:{{ section.settings.text_pos }};margin:auto;">
        <span class="jm-heading-text" 
          style="font-size:{{ section.settings.text_size }}px;color:{{ section.settings.h_color }}">
          {{ section.settings.image_caption }}
        </span>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Heading",
  "settings": [
		{
                    "type": "header",
                    "content": "General"
                },
                {
                    "type": "textarea",
                    "id": "image_caption",
                    "label": "Caption",
                    "default": "Enter your text here.."
  				},
                {
                    "type": "select",
                    "id": "text_pos",
                    "label": "Text align",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Center"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ],
                    "default": "left"
                },
                {
                    "type": "color",
                    "id": "bg_color",
                    "label": "Background color"
                },
                {
                    "type": "color",
                    "id": "h_color",
                    "label": "Heading color"
                },
                {
                    "type": "range",
                    "id": "text_size",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "label": "Font size",
                    "default": 21
                },
                {
                    "type": "range",
                    "id": "caption_width",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "label": "Width",
                    "default": 65
                }
  		],
  "presets": [
    {
      "name": "Heading"
    }
  ]
}
{% endschema %}