{% if section.settings.header_notice %}
<div class="header-notice" style="color:{{section.settings.notice_color}};background-color:{{section.settings.notice_bg_color}};{% if section.settings.notice_bg_image != blank %}background-image:url({{section.settings.notice_bg_image | img_url: "master"}}){% endif %}">
  {% if section.settings.header_social %}
  <div class="social-icons">
    {%- assign socials = 'twitter,facebook,linkedin,vimeo,youtube' | split: ',' -%}
    {%- for social_name in socials -%}
    {%- assign social_url_setting = 'social_icon_' | append: social_name -%}
    {%- if settings[social_url_setting] != blank -%}
    <a href="{{settings[social_url_setting] | default: '#'}}">
      <svg fill="{{section.settings.notice_color}}">
        <use xlink:href="#global__symbols--social-{{social_name}}" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
      </svg>
    </a>
    {%- endif -%}
    {%- endfor -%}
  </div>
  {% endif %}
  <div class="message">{{section.settings.message}}</div>
  <a class="notice-close" href="#">
    <svg fill="{{section.settings.notice_color}}">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M207.6 256l107.72-107.72c6.23-6.23 6.23-16.34 0-22.58l-25.03-25.03c-6.23-6.23-16.34-6.23-22.58 0L160 208.4 52.28 100.68c-6.23-6.23-16.34-6.23-22.58 0L4.68 125.7c-6.23 6.23-6.23 16.34 0 22.58L112.4 256 4.68 363.72c-6.23 6.23-6.23 16.34 0 22.58l25.03 25.03c6.23 6.23 16.34 6.23 22.58 0L160 303.6l107.72 107.72c6.23 6.23 16.34 6.23 22.58 0l25.03-25.03c6.23-6.23 6.23-16.34 0-22.58L207.6 256z" ></path></svg>
    </svg>
  </a>
</div>
{% endif %}
<div class="password-wrapper" style="color:{{section.settings.main_color}};background-color:{{section.settings.bg}};{% if section.settings.bg_image != blank %}background-image:url({{ section.settings.bg_image | img_url:"master" }});{% endif %}">
  <div class="password-content">
    {% if section.settings.logo != blank %}
    <div class="password-logo"><img src="{{ section.settings.logo | img_url: "200x"}}" /></div>
    {% endif %}
    {% if section.settings.heading != blank %}
    <div class="heading">
      {{section.settings.heading}}
    </div>
    {% endif %}
    {% if section.settings.caption != blank %}
    <div class="caption">
      {{section.settings.caption}}
    </div>
    {% endif %}
     {% if section.settings.countdown != blank %}

    {%- assign my_date = section.settings.countdown | split: '-' -%}
    <div style="color:{{section.settings.countdown_color}};background-color:{{section.settings.countdown_bg}};" class="password-countdown" data-year="{{my_date[2]}}" data-month="{{my_date[0]}}" data-day="{{my_date[1]}}"></div>
    {% endif %}
    <div class="password-form">
      <div class="heading form-heading">{{section.settings.form_heading}}</div>
      <div class="form-content">
        {% if section.settings.form_type == "password" %}
          {% form 'storefront_password' %}
          {%- if form.errors -%}
          <div class="password-form-message form-message form-message--error">
            {{ form.errors | default_errors }}
          </div>
          {%- endif -%}
          <div class="password__input-group">
            <input style="background-color:{{section.settings.input_bg}};color:{{section.settings.input_color}};" type="password" name="password" id="Password" class="password__input" placeholder="{{section.settings.placeholder}}">
            <button style="background-color:{{section.settings.button_bg}};color:{{section.settings.button_color}};" type="submit" class="button button-submit">{{section.settings.button}}</button>
          </div>
          {% endform %}
        {% else %}
          <form action="{{section.settings.mailchimp}}" method="post" name="mc-embedded-subscribe-form" target="_blank">
            <div class="group-input">      
              <input style="background-color:{{section.settings.input_bg}};color:{{section.settings.input_color}};" placeholder="{{section.settings.placeholder}}" type="email" required="required" name="EMAIL" class="email password__input" />
              <button style="background-color:{{section.settings.button_bg}};color:{{section.settings.button_color}};"  type="submit" class="button button-submit {% if section.settings.terms_and_conditions %}button-disabled{% endif %}" >{{section.settings.button}}</button>
            </div>
            {% if section.settings.terms_and_conditions %}
            <div class="newsletter-terms-conditions">
              <label class="custom-checkbox">
                <input type="checkbox" class="newsletter-terms" />
                <span class="checkmark"></span>
                {{'general.mailchimp_popup.terms_conditions_html' | t : terms_conditions_url: "/policies/terms-of-service" ,  privacy_policy_url: "/policies/privacy-policy" }}
              </label>
            </div>
            {% endif %}
          </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Password Page",
    "settings": [
		{
			"type" : "header",
			"content": "Header Notice"
		},
		{
			"type" : "color",
			"id": "notice_bg_color",
			"label": "Background"
		},
		{
			"type" : "color",
			"id": "notice_color",
			"label": "Color"
		},
		{
			"type" : "image_picker",
			"id": "notice_bg_image",
			"label": "Background Image"
		},
		{
			"type" : "checkbox",
			"id": "header_notice",
			"label": "Notice"
		},
		{
			"type" : "checkbox",
			"id": "header_social",
			"label": "Social Icons"
		},
		{
			"type" : "html",
			"id": "message",
			"label": "Message"
		},
		{
			"type" : "header",
			"content": "Password content"
		},
		{
			"type" : "color",
			"id": "main_color",
			"label": "Color",
			"default": "#000"
		},
		{
			"type" : "color",
			"id": "bg",
			"label": "Background Color",
			"default": "#fff"
		},
		{
			"type" : "image_picker",
			"id": "bg_image",
			"label": "Background Image"
		},
		{
			"type" : "color",
			"id": "countdown_bg",
			"label": "Countdown Background",
			"default": "#d9121f"
		},
		{
			"type" : "color",
			"id": "countdown_color",
			"label": "Countdown Color",
			"default": "#fff"
		},
		{
			"type" : "color",
			"id": "button_bg",
			"label": "Button Background",
			"default": "#000"
		},
		{
			"type" : "color",
			"id": "button_color",
			"label": "Button Color",
			"default": "#fff"
		},
		{
			"type" : "color",
			"id": "input_color",
			"label": "Input Color",
			"default": "#999"
		},
		{
			"type" : "color",
			"id": "input_bg",
			"label": "Input Background",
			"default": "#e6e6e6"
		},
		{
			"type" : "image_picker",
			"id": "logo",
			"label": "Logo"
		},
		{
			"type" : "html",
			"id": "heading",
			"label": "Heading"
		},
		{
			"type" : "html",
			"id": "caption",
			"label": "caption"
		},
		{
			"type" : "text",
			"id": "countdown",
			"label": "Countdown (MM-DD-YYYY)"
		},
		{
			"type" : "header",
			"content": "Form Content"
		},
		{
			"type" : "select",
			"id": "form_type",
			"label": "Form Type",
			"options": [
				{"value": "password", "label": "Password"},
				{"value": "mailchimp", "label": "MailChimp"}
			]
		},
		{
			"type" : "text",
			"id": "form_heading",
			"label": "Heading"
		},
		{
			"type" : "text",
			"id": "placeholder",
			"label": "Placeholder",
			"default": "Password"
		},
		{
			"type" : "text",
			"id": "button",
			"label": "Button Text",
			"default": "Submit"
		},
		{
			"type" : "text",
			"id": "mailchimp",
			"label": "MailChimp Action"
		},
		{
			"type" : "checkbox",
			"id": "terms_and_conditions",
			"label": "Terms and Codition"
		}
	]
  }
{% endschema %}