{%- if product.metafields.inventory.ShappifyHidden == 'true' -%}{%- break -%}{%- endif -%}
{%- assign my_product = product -%}
{%- assign current_variant = product.selected_or_first_available_variant | default:product.variants.first -%}
{%- assign featured_image = current_variant.image | default: product.featured_image -%}
{%- assign featured_image_alt = current_variant.image.alt | default: product.featured_image.alt -%}
{%- assign instructions = product.metafields.info -%}
{%- assign pwrapper_class = 'fastor-product-gallery__wrapper' -%}
{%- assign pwrapper_item_class = '' -%}
{%- assign zoom_class = '' -%}
{%- assign modal_class = '' -%}
{%- if settings.product_gallery_zoom != '' -%}
{%- assign zoom_class = 'easyzoom el_zoom' -%}
{%- endif -%}
{%- if settings.product_lightbox != '' -%}
{%- assign pwrapper_class = 'photoswipe-wrapper' -%}
{%- assign pwrapper_item_class = 'photoswipe-item' -%}
{%- assign modal_class = 'zoom_enabled' -%}
{%- endif -%}
{%- assign height = 530 -%}
{% case section.settings.media_size %}{% when 'small' %}{%- assign height = 345 -%}{% when 'medium' %}{%- assign height = 530 -%}{% when 'large' %}{%- assign height = 720 -%}{% when 'full' %}{%- assign height = 1090 -%}{% endcase %}
{%- assign section_id = section.id -%}
<div id="ProductSection-{{ section.id }}"
     class="product-page-section{% if settings.sticky_cart == "bottom" %}{{- " wrapper-sticky-info " -}}{% endif %}{%- if settings.product_design == "sidebar" and settings.product_sidebar != "" and section.blocks.size > 0 -%}{{" product-has-sidebar"}}{%- endif -%}"
     data-variant_image_grouped="{%- if settings.variant_image_grouped -%}1{%- endif -%}"
     data-product_design="{{- settings.product_design -}}"
     data-product_image_count="{{- product.images.size -}}"
     data-section-id="{{ section.id }}" 
     data-section-type="product-template"
     data-enable-history-state="true"> 
  <div> {{ product.metafields.alireviews.seo_rating_review_key }} </div>
<!--   <h2 class="mobile name product-name" style="margin-bottom: 0 !important;">
    {% assign break_first = product.title | replace_first: "] ", "|" %}
    {% assign product_names = break_first | split: "|" %}
    {% if product_names.size > 1 %}
      {% for name in product_names %}
        <span>{{ name | split: " [" | first }}{% if forloop.index == 1 %}]{% endif %}</span>
      {% endfor %}
    {% else  %}
      {{ product.title | split: " [" | first }}
    {% endif %}
    {% assign break_color = break_first | split: " [" %}
    {% if break_color.size > 1 %}
      <span>[{{ break_color.last }}</span>
    {% endif %}
  </h2> -->
  {% for t in product.tags %}
   {% if t contains 'BOGO' %}
     <span class="mobile jm-bogo-badge"  style="margin-top: 10px !important;margin-bottom: 10px !important;font-size: 12px !important;height: 20px !important;">BOGO</span>
   {% endif %}
  {% endfor %}
  {%- comment -%}PRODUCT PAGE CONTENT{%- endcomment -%}
  <div class="product-info{%- if settings.product_design == "scroll" -%}{{" product-design-sticky"}}{%- endif -%}{%- if instructions.grouped != blank -%}{{- "product-type-grouped" -}}{%- else -%}{{" product-type-variable"}}{%- endif -%}{{- " product-page-design-" | append: settings.product_design -}}" >
    <div class="product_wrapper fastor-single-product-detail">
      {%- assign design_thumbnail = settings.product_design  -%}
      {%- if settings.product_design == "compact2"  -%}
      {%- assign design_thumbnail = "left" -%}
      {%- endif -%}
      {%- if settings.product_design == 'carousel' -%}
      <div class="product-images-wrapper">
        {%-if settings.upsell_badge_enabled == true-%}
        <div class="upsell-badge">{{-settings.upsell_badge-}}</div>
        {%-endif-%}
        <div id="product-images-content-{{section.id}}" class="product-images-content{{- " design-thumbnail-" | append: design_thumbnail -}}">
          <div class="sale {% if current_variant.compare_at_price > current_variant.price and settings.product_sale_badge != '' %}{% else %}hide{% endif %}" data-sale-label>
            {%- if settings.product_sale_badge == '0' -%}
            {{'products.product.sale' | t}}
            {%- else -%}
            -{{current_variant.compare_at_price | minus:current_variant.price | times:100.0 | divided_by:current_variant.compare_at_price | ceil }}%
            {%- endif -%}
          </div>
          <div class="rt-fastor-product-gallery rt-fastor-product-gallery--with-images images fastor-images" >
            {%- include "product-images-slide" -%}
          </div>
          {%- if instructions.video != blank -%}
          {%- include "product-feature" -%}
          {%- endif -%}
        </div>
      </div>
      {%- else -%}
      <div class="row" id="quickview_product">
        {%- comment -%} SIDEBAR LEFT {%- endcomment -%}
        {%- if settings.product_design ==  'sidebar' and settings.product_sidebar == "left" and section.blocks.size > 0 -%}
        {%- include "product-sidebar" -%}
        {%- endif -%}

        {%- comment -%} MAIN CONTENT {%- endcomment -%}
        <div class="col-md-{%- if settings.product_design !=  'full-screen' and settings.product_design !=  'carousel' -%}{%- if settings.product_design ==  'sidebar' and settings.product_sidebar != '' and section.blocks.size > 0 -%}{{-"4 " -}}{%- elsif  settings.product_design == "upsell" -%}{{-"8 " -}}{%- elsif  settings.product_design == "split" -%}{{-"5 " -}}{%- else -%}{%- if settings.product_design == "left" or settings.product_design == "bottom" or settings.product_design == "split" -%}{{- settings.product_img_width | append: " " -}}{%- else -%}{{- "7 " -}}{%- endif -%}{%- endif -%}{%-  else -%}{{- "12 " -}}{%- endif -%} col-sm-12 col-xs-12 product-images-wrapper">
          {%-if settings.upsell_badge_enabled == true-%}
          <div class="upsell-badge">{{-settings.upsell_badge-}}</div>
          {%-endif-%}
          <div id="product-images-content-{{section.id}}" class="product-images-content{{- " design-thumbnail-" | append: design_thumbnail -}}">
            {% comment %}
            <div class="sale {% if current_variant.compare_at_price > current_variant.price and settings.product_sale_badge != '' %}{% else %}hide{% endif %}" data-sale-label>
              {%- if settings.product_sale_badge == '0' -%}
              {{'products.product.sale' | t}}
              {%- else -%}
              -{{current_variant.compare_at_price | minus:current_variant.price | times:100.0 | divided_by:current_variant.compare_at_price | ceil }}%
              {%- endif -%}
            </div>
            {% endcomment %}

            <div class="jm-tag-badges--wrapper">
            {% for t in product.tags %}
             {% if t == 'NEW RELEASE' %}
               <span class="jm-fire-badge prod jm-new-badge"><img src="https://cdn.shopify.com/s/files/1/1489/5902/files/new-release-flame-icon-orange-2_b66adb43-a54b-4d34-add4-3e210ee0c0a3.png?v=1675282923" height="22"><span class="ml-2">NEW</span></span>
             {% elsif t == 'BEST SELLER' %}
               <span class="jm-tag-badges prod jm-best-badge">BEST SELLER</span>
             {% elsif t == 'GIFT WORTHY' %}
                <!--<span class="jm-tag-badges prod jm-gift-badge">GIFT WORTHY</span> -->
             {% elsif t == 'FINAL SALE' %}
               <span class="jm-tag-badges prod jm-sale-badge">FINAL SALE</span>
              {% elsif t == 'PRE SALE' %}
               <span class="jm-tag-badges prod jm-sale-badge">PRE-SALE</span>
             {% elsif t == 'SALE' %}
               <span class="jm-tag-badges prod jm-sale-badge">ON SALE</span>
             {% endif %}
            {% endfor %}
            </div>
            
            <div class="rt-fastor-product-gallery rt-fastor-product-gallery--with-images images fastor-images" >
              {% render 'shappify-sales-icon-product', product: product %}

              {%- if settings.product_design != "scroll" -%}
              {%- include "product-images-slide" -%}
              {%- else -%}
              {%- include "product-images-scroll" -%}
              {%- endif -%}
            </div>
            {%- if instructions.video != blank -%}
            {%- include "product-feature" -%}
            {%- endif -%}
            {%- if settings.product_design == "left" or settings.product_design == "bottom" or settings.product_design == "upsell"  or settings.product_design == "full-screen" or settings.product_design ==  "sidebar" or settings.product_design == "compact2" or settings.product_design == "split" or settings.product_design == "simple" -%}
            {%- include 'product-thumbnails-nav' -%}
            {%- endif -%}
            {%- if settings.product_design == 'gallery' -%}
            {%- include 'product-thumbnails-gallery' -%}
            {%- endif -%}
          </div>     
          {%- if settings.product_design == "compact2" and settings.product_social_share -%}
          <div class="share">
            {%- include "add-this" -%}
          </div>
          {%- endif -%}
          {%-if settings.product_design == "upsell" and settings.product_mitems_linklist != blank -%}{%-include "products-mitems" -%}{%-endif-%}
        </div>
        {%- if settings.product_design !=  'full-screen' and settings.product_design !=  'carousel' -%}
        <div class="col-md-{%- if settings.product_design == "left" or settings.product_design == "bottom" or settings.product_design == "simple" -%}{{- 12 | minus: settings.product_img_width | append: " " -}}{%- elsif settings.product_design == "upsell" -%}{{- "4 " -}}{%- elsif settings.product_design == "split" -%}{{- "7 " -}}{%- else -%}{{- "5 " -}}{%- endif -%} col-sm-12 col-xs-12 product-summary">
          <div class="summary entry-summary">
            {%- if settings.product_design == "scroll" -%}
            <div class="fastor-scroll-content">
              {%- endif -%}
              {%- if settings.product_design == "split" -%}
              {%- include "product-page-info-split" -%}
              {%- elsif settings.product_design == "upsell" -%}
              {%- include "product-page-info-upsell" -%}
              {%- else -%}
              {%- include "product-page-info" -%}
              {%- endif -%}
              {%- if settings.product_design == "scroll" -%}
            </div>
            {%- endif -%}
            {%- if settings.product_design == "compact" or settings.product_design == "compact2" -%}
            {%- include "product-accordions" -%}
            {%- endif -%}
          </div>
        </div>
        {%- endif -%}
        {%- comment -%} SIDEBAR RIGHT {%- endcomment -%}
        {%- if settings.product_design ==  'sidebar' and settings.product_sidebar == "right" and section.blocks.size > 0 -%}
        {%- include "product-sidebar" -%}
        {%- endif -%}
      </div>
      {%- endif -%}

      {%- comment -%} MAIN CONTENT ON IMAGE SLIDE FULLSCREEN{%- endcomment -%}
      {%- comment -%}PRODUCT PAGE TABS{%- endcomment -%}
      {%- if settings.product_design ==  'full-screen' or settings.product_design ==  'carousel' -%}
      <div class="product-summary">
        <div class="summary entry-summary">
          {%- include "product-page-info" -%}
        </div>
      </div>
      {%- endif -%}
    </div>
  </div>
  {%- if settings.product_design == "simple" -%}
  {%- include "product-accordions" -%}
  {%- endif -%}

  {% comment %}
  <div class="product-instagram">
    <div class='snpt-wdgt--ppg'>
     <script src='https://snapppt.com/widgets/ppg/d121716a-608f-4711-9915-3bf2c9b08464' defer class='snapppt-widget'></script>
    </div>
  </div>
  {% endcomment %}
  
  {% comment %}
  <!-- start: JM Static Product Details Accordion -->
  <div class="jm-product-static-details">
    <details class="jm-accord" id="jm-acc-1">
      <summary class="jm-accord--title">
        <!--<img src="https://cdn.shopify.com/s/files/1/1489/5902/files/3210104.png?v=1678889456" width="80">--> Description
      </summary>
      <div class="jm-accord--content">
        <!-- start: JM Static Product Details Accordion List -->
        {% include 'product-static-description', product: product %}
        <!-- end: JM Static Product Details Accordion List -->
      </div>
    </details>
    <details class="jm-accord" id="jm-acc-2">
      <summary class="jm-accord--title">
        Sizing Guide
      </summary>
      <div class="jm-accord--content">
        {% include 'product-size-guide' %}
      </div>
    </details>
    <details class="jm-accord" id="jm-acc-3">
      <summary class="jm-accord--title">
        <!--<img src="https://cdn.shopify.com/s/files/1/1489/5902/files/3210104.png?v=1678889456" width="80">--> Shipping & Returns
      </summary>
      <div class="jm-accord--content">
        <p><strong>SHIPPING</strong></p>
        <p>It’s taking us longer than usual to get orders to you. But don’t worry—our team is working as quickly and safely as possible to get all orders processed ASAP. You will receive an email / text message with updates on your shipment's progress.</p>
        <p> 13FA is proud to print all apparel in the USA! This means that your order is typically printed to order, and will go into our production queue after we receive your order. Please allow 3-7 business days for production. Sometimes, if the item is in stock, it will ship much faster! Once your order is ready for shipment, you will receive an email / text notification with your tracking information.</p>
        <p><strong>RETURNS</strong></p>
        <div id="return_desc">
          <p>If you are not 100% satisfied with your purchase, we accept returns or exchanges within 30 days of purchase of unworn, unwashed, undamaged or defective merchandise for STORE CREDIT <strong>(As of January 1, 2023)</strong>
          </p>
          <p>Items damaged or defective may be returned by contacting Customer Experience within 7 DAYS of delivery. </p>
          <p>
            <strong>ALL ITEMS MARKED FINAL SALE ARE NOT ELIGIBLE FOR RETURNS!</strong>
          </p>
          <p>Items damaged or defective may be returned by contacting Customer Experience within 7 DAYS of delivery. </p>
          <ul>
            <li>Please make sure your order meets our return criteria and is not a final sale item before you complete your return</li>
            <li>Include your Order Number and Reason for Return. If you need an exchange, please include the size/product requested</li>
            <li>Please use the courier of your choice to return your item(s)</li>
          </ul>
          <br>
          <p>
            <strong>13 Fifty Apparel <br> Attn: RETURNS DEPT. <br> 2724 Shawnee Ave <br> West Palm Beach, FL 33409 </strong>
          </p>
          <p>Please allow 2-3 business days for our warehouse to receive your return, and 5-7 business days for our return department to process your return and store credit.</p>
          <p>You will receive an email with your store credit applied to the original email and account your purchase was made on.</p>
          <p> 
            We offer FREE Local Pickup and Returns for our South Florida Customers <br> MON-FRI / 9am-5pm<br>
            <strong>2724 Shawnee Ave</strong><br>
            <strong>West Palm Beach, FL 33409</strong>
          </p>
        </div>
      </div>
    </details>
  </div>
  <!-- end: JM Static Product Details Accordion -->
  {% endcomment %}

  {% include 'product-static-section', product: product %}

  <div id="yotpo-reviews"></div>
  {%- if settings.product_design != "compact" and settings.product_design != "compact2" and settings.product_design != "simple" -%}
  <div data-rt-tabs class="product-details-tabs rt-tabs col-p-100 mt-4 justify-content-center" style="--border-color:#3a3a3a">
    {%- comment -%}
    <div class="rt-tab">
      <input class="rt-tab__radio" type="radio" name="rt-tabgroup-detail" id="rt-tab-description" checked>
      <label class="h3 pb-1 border-bottom custom-border-color" for="rt-tab-description">{{'products.product.description' | t}}</label>
      <div class="rt-tab__content w-100">
        <div class="py-3">
        {{product.description}}
        </div>
      </div>
    </div>
    {%- endcomment -%}
    {%- if settings.reviews_enable != "" -%}
    <div class="rt-tab">
      <input class="rt-tab__radio" type="radio" name="rt-tabgroup-detail" id="rt-tab-reviews">
      <label class="h3 pb-1 border-bottom custom-border-color" for="rt-tab-reviews">{{'products.product.customer_reviews' | t}}</label>
      <div class="rt-tab__content w-100">
        <div class="py-3">
        {%-include "review-content"-%}
        </div>
      </div>
    </div>
    {% endif %}
    {% for i in (1..4) %}
    {% assign s_tab_title = "product_tab_title_" | append: i %}
    {% assign s_tab_content = "product_tab_content_" | append: i %}
    
    {%- if settings.product_tab_content_1 != blank -%}
    <div class="rt-tab">
      <input class="rt-tab__radio" type="radio" name="rt-tabgroup-detail" id="rt-tab-custom-{{i}}">
      <label class="h3 pb-1 border-bottom custom-border-color" for="rt-tab-custom-{{i}}">
      {{ settings[s_tab_title] }}
      </label>
      <div class="rt-tab__content d-flex">
        <div class="py-3">
         {{- pages[settings[s_tab_content]].content -}}
        </div>
      </div>
    </div>
    {%- endif -%}
    {% endfor %}
  </div>
  {%- endif -%}
            
  {%- if settings.sticky_cart != "" -%}{%- include "sticky-info" -%}{%- endif -%}
</div>
{%- unless product == empty -%}
<script type="application/json" id="ProductJson-{{ section.id }}">
    {% include 'bold-product', output: 'json' %}
</script>
<script type="application/json"
        id="ProductVariantJson-{{ section.id }}"
        {% for _variant in product.variants %}
        {% include 'bold-variant' with variant, hide_action: 'skip' %}
        data-{{_variant.id}}="{%- if _variant.inventory_management == "shopify" and  _variant.inventory_quantity <= 0 and _variant.inventory_policy == "continue"  -%}pre-order{%- elsif _variant.available -%}in-stock{%- else -%}out-of-stock{%- endif -%}"
        {% endfor %}
        >
</script>
<script type="application/json" id="ModelJson-{{ section.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
</script>

<script type="application/json" id="ProductMoreJson-{{ section.id }}">{% capture product_more_json %}{% include 'product-json', product: product %}{% endcapture %}{{ product_more_json | strip_newlines | remove: "  " }}</script>

{%- endunless -%}
{%-if settings.product_grouped != blank -%}{%-include "products-grouped" -%}{%-endif-%}
{% schema %}
  {
    "name": "Product Page",
	"class": "col-md-12 px-3 center-column content-without-background product-section-wrapper",
    "settings": [
      {
        "type": "select",
        "id": "media_size",
        "label": "Size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "full",
            "label":"Full-width"
          }
        ],
        "default": "medium"
      },
      {
        "type": "header",
        "content": "Stock countdown",
        "info": "Display the limited availability of your products. Create scarcity, increase the perceived value of your products. Make customers buy faster."
      },
      {
        "type": "checkbox",
        "id": "show_stock_countdown",
        "label": "Show stock countdown",
        "default": true
      },
      {
        "type": "color",
        "id": "stock_countdown_custom_color",
        "label": "Custom process color ",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "stock_countdown_custom_bground",
        "label": "Custom background color",
        "default": "#e6e6e6"
      },
      {
        "type": "color",
        "id": "stock_countdown_color",
        "label": "Color",
        "default": "#000"
      },
	  
      {
        "type": "color",
        "id": "stock_countdown_highlight_color",
        "label": "Highlight color",
        "default": "#d9121f"
      },
      {
        "type": "checkbox",
        "id": "show_stock_countdown_fake",
        "label": "Use simulation mode",
        "info": "If you want to run this feature in simulation mode, it will be applied on all products.",
        "default": true
      },
      {
        "type": "range",
        "id": "stock_countdown_fake_from",
        "min": 1,
        "max": 20,
        "step": 1,
        "label": "Random from",
        "default": 10
      },
      {
        "type": "range",
        "id": "stock_countdown_fake_to",
        "min": 21,
        "max": 100,
        "step": 1,
        "label": "Random to",
        "default": 40
      },
      {
        "type": "header",
        "content": "Total sold",
        "info": "This tiny feature make fake total sold for your store. It is not real but you can use just for fun ;)"
      },
      {
        "type": "checkbox",
        "id": "show_total_sold",
        "label": "Show total sold",
        "default": true
      },
      {
        "type": "range",
        "id": "total_sold_qty_min",
        "min": 1,
        "max": 100,
        "step": 1,
        "label": "Min quantity",
        "default": 5
      },
      {
        "type": "range",
        "id": "total_sold_qty_max",
        "min": 1,
        "max": 100,
        "step": 1,
        "label": "Max quantity",
        "default": 20
      },
      {
        "type": "range",
        "id": "total_sold_time_min",
        "min": 1,
        "max": 24,
        "step": 1,
        "label": "Min time",
        "default": 4
      },
      {
        "type": "range",
        "id": "total_sold_time_max",
        "min": 1,
        "max": 24,
        "step": 1,
        "label": "Min time",
        "default": 24
      },
      {
        "type": "color",
        "id": "total_sold_color",
        "label": "Color",
        "default": "#000"
      },
	  
      {
        "type": "color",
        "id": "total_sold_highlight_color",
        "label": "Highlight color",
        "default": "#d9121f"
      },
      {
        "type": "header",
        "content": "Shipping Information"
      },
      {
        "type": "range",
        "id": "shipping_hours",
        "min": 1,
        "max": 12,
        "step": 1,
        "label": "Hours",
        "default": 2
      },
      {
        "type": "range",
        "id": "shipping_minutes",
        "min": 0,
        "max": 59,
        "step": 1,
        "label": "Minutes",
        "default": 53
      },
      {
        "type": "range",
        "id": "shipping_days",
        "min": 1,
        "max": 30,
        "step": 1,
        "label": "Days",
        "default": 7
      },
      {
        "type": "color",
        "id": "shipping_bg",
        "label": "Background",
        "default": "#fbe7e8"
      },
      {
        "type": "color",
        "id": "shipping_color",
        "label": "Color",
        "default": "#000"
      },
      {
        "type": "color",
        "id": "shipping_highlight_color",
        "label": "Highlight color",
        "default": "#d9121f"
      }
		 
    ],
    "blocks": [
		{
          "type": "collection",
          "name": "Collection",
          "settings": [
            {
              "type": "checkbox",
              "id": "visible_on_mobile",
              "label": "Visible on mobile",
              "default": true
            },
  			{
              "type": "text",
              "id": "heading",
              "label": "Heading",
  			  "default": "Recently Products"
            },
            {
              "type": "collection",
              "id": "collection",
              "label": "Collection"
            },
  			{
              "type": "text",
              "id": "per_view",
              "label": "Item per slide",
  			  "default": "4"
            },
  			{
              "type": "text",
              "id": "limit",
              "label": "Limit",
  			  "default": "8"
            }
          ]
        },
		{
          "type": "product-block",
          "name": "Custom HTML",
          "settings": [
            {
              "type": "checkbox",
              "id": "visible_on_mobile",
              "label": "Visible on mobile",
              "default": true
            },
  			{
              "type": "text",
              "id": "heading",
              "label": "Heading",
  			  "default": "Custom Content"
            },
  			{
              "type": "html",
              "id": "html",
              "label": "HTML Content"
            }
          ]
        },
		{
          "type": "banners",
          "name": "Image",
          "settings": [
            {
              "type": "checkbox",
              "id": "visible_on_mobile",
              "label": "Visible on mobile",
              "default": true
            },
  			{
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            }
          ]
        }
    ]
  }
{% endschema %}